body {
    background-image: url(../img/black.jpg);
    /*    text-align: center;*/
}

div {
    /*    border: 1px solid red;*/
}

#top-banner {
    background: rgba(23, 171, 92, 0.93);
}

#title h1 {
    color: black;
    font-size: 2em;
}

.parse-display {
    margin: 20px;
    height: 300px;
}

#costs {
    border: 3px solid red;
    border-radius: 3px;
    background-color: darkred;
}

#income {
    /*    float: right;*/
    
    border: 3px solid green;
    border-radius: 3px;
    background-color: darkgreen;
}